* {
    box-sizing: border-box;
}

body {
    background-color: #f5cf4e;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px; 
}

.card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 0 black;
    overflow: hidden;
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
}

.card-img {
    margin: 20px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-content span {
    background-color: hsl(47, 88%, 63%);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.card-content h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card-content {
  font-size: 0.9rem;
  font-size: 16px;
  font-weight: 500;
}

.card-content .text2 {
    color: hsl(0, 0%, 42%);
}

.avatar {
    display: inline-flex;
}

.avatar p {
    margin-top: 25px;
    font-weight: bold;
}

.avatar img {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.attribution {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}